#card-reg{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    color: rgb(69,74,80);
    font-weight: bolder;
    background-color: rgb(225,226,225);
    box-shadow: lightslategray 4px 4px 5px, lightsteelblue 4px 4px 20px, black 4px 4px 10px;
}



#RegFirst:focus-within, #RegLast:focus-within, #RegEmail:focus-within, #RegPass:focus-within {
    color: #ffa500;
}

#firstForm, #lastForm, #emailForm, #passForm {
    border: none;
    border-bottom: rgb(69,74,80) solid 2px;
    border-radius: 0px;
    background-color: rgb(225,226,225);
}

#firstForm:focus, #lastForm:focus, #emailForm:focus, #passForm:focus {
    box-shadow: none;
    border: none;
    background-image: linear-gradient(to top, #ffa500 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

#reg-head{
    background: linear-gradient(60deg, #ffa500, #ffd64a);
    color: #000000;
    font-weight: 300;
    box-shadow: 0px 5px 8px rgb(69,74,80), 0px 3px 3px rgba(0, 0, 0, 0.12);
}

#btn-reg {
    background-color: #ffa500;
    color: #000000;
    border-color: rgb(216, 167, 10);
    font-weight: 300;
}

#btn-reg:hover{
    box-shadow: 0 14px 26px -12px rgba(208,126,29, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(208,126,29, 0.2);
}


